In [1]:
import os
import re
import pandas as pd
import frontmatter

DIRNAME = os.path.abspath('')
WWW_SHIPS_PATH = os.path.join(DIRNAME, "../../www/11ty_input/ships")

In [2]:
all_ships = []
for filename in os.listdir(WWW_SHIPS_PATH):
    if not re.match(r".*-(\d+)\.md", filename):
        continue
    ship_frontmatter = frontmatter.load(os.path.join(WWW_SHIPS_PATH, filename))
    all_ships.append({ **ship_frontmatter.metadata })
df = pd.DataFrame(all_ships)
df = df[df.outOfScope != True]
df

,company,imo,layout,name,outOfScope,routes,slug,tags,photo,unknownRoutes,wikipediaUrl,capacityPax
0,stena-line-se,9332559,ship,MS Stena Horizon,False,[cherbourg-fr-rosslare-ie],ms-stena-horizon-9332559,[ship],/img/300px-Stena_Horizon_approaching_Rosslare_...,False,https://en.wikipedia.org/wiki/MS_Stena_Horizon,NaN
2,tallink-ee,9364722,ship,MS Star,NaN,[helsinki-fi-tallinn-ee],ms-star-9364722,[ship],/img/300px-190407_Star_Helsinki.jpg,NaN,https://en.wikipedia.org/wiki/MS_Star,1900.0
3,hurtigruten-group-no,9813072,ship,ROALD AMUNDSEN,NaN,NaN,roald-amundsen-9813072,[ship],/img/roald-amundsen-9813072.jpg,NaN,https://en.wikipedia.org/wiki/MS_Roald_Amundsen,NaN
4,hurtigruten-group-no,9231951,ship,MS Finnmarken (2002),False,[bergen-no-kirkenes-no],ms-finnmarken-2002-9231951,[ship],/img/300px-MS_Finnmarken_in_Kirkenes.jpg,False,https://en.wikipedia.org/wiki/MS_Finnmarken_(2...,NaN
6,hurtigruten-group-no,9370018,ship,MS Fram,NaN,[],ms-fram-9370018,[ship],/img/300px-Fram_approaching_in_front_of_iceber...,NaN,https://en.wikipedia.org/wiki/MS_Fram,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
505,None,9351476,ship,CRUISE ROMA,NaN,NaN,cruise-roma-9351476,[ship],/img/cruise-roma-9351476.jpg,NaN,https://fr.wikipedia.org/wiki/Cruise_Roma,NaN
506,frs-iberia-maroc-dz,8512152,ship,MS Al Andalus Express,NaN,[algiers-dz-tanger-med-ma],ms-al-andalus-express-8512152,[ship],/img/300px-Seafrance_nord_pas_de_calais.jpg,NaN,https://en.wikipedia.org/wiki/MS_Al_Andalus_Ex...,NaN
507,moby-lines-it,7361324,ship,MS Moby Otta,False,[genes-it-livorno-it],ms-moby-otta-7361324,[ship],/img/300px-Princess_of_Scandinavia_Gothenburg.jpg,False,https://en.wikipedia.org/wiki/MS_Moby_Otta,NaN
510,naviera-armas-es,9221346,ship,HSC Volcan de Teno,False,[motril-es-nador-ma],hsc-volcan-de-teno-9221346,[ship],/img/300px-Highspeed_6_-_HSW_-_Heraklion_-_Por...,False,https://en.wikipedia.org/wiki/HSC_Volcan_de_Teno,NaN
511,None,9501590,ship,EXPRESS 1,NaN,NaN,express-1-9501590,[ship],/img/express-1-9501590.jpg,NaN,https://en.wikipedia.org/wiki/HSC_Express_1,NaN

In [3]:
for name in sorted(list(df.name)): 
    print(name)

AF FRANCESCA
AF MARINA
AIDANOVA
AMERA
ARCADIA
AZURA
Abel Matutes
Ariadne
Armorique
Asterion II
Aurelia
BALTIC PRINCESS
BALTIVIA
BERGENSFJORD
BERLIN
BLUE STAR NAXOS
BRILLIANCE OF THE SEAS
BRITANNIA
Baie de Seine
Baltic Kristina
Baltic Queen
Barfleur
Blue Galaxy
Blue Horizon
Blue Star 1
Blue Star Patmos
Bretagne
CELEBRITY FLORA
CELESTYAL CRYSTAL
CELESTYAL OLYMPIA
CHAMPION JET 2
CLUB MED 2
COLOR HYBRID
COLUMBUS
COSTA FAVOLOSA
COSTA FORTUNA
CROWN IRIS
CRUISE ROMA
CRYSTAL SERENITY
CRYSTAL SYMPHONY
Calais Seaways
Caledonian Isles
Cap Finistère
Carthage
Ciudad de Palma
Color Carrier
Color Magic
Commodore Clipper
Connemara
Copenhagen
Corsica Express Three
Corsica Marina Seconda
Corsica Victoria
Cruise Bonaria
Cruise Europa
Cruise Olympia
Cruise Smeralda
Côte d'Albâtre
DEUTSCHLAND
DIAGORAS
Danielle Casanova
Denia Ciutat Creativa
EPSILON
EXPLORER OF THE SEAS
EXPRESS 1
EXPRESS 2
EXPRESS 3
EXPRESS 4
Eckerö
El Djazair II
El. Venizelos
Elyros (ship)
Euroferry Egnazia
Euroferry Olympia
Excelsior
Express Pegasus
FAST FERRIES ANDROS
FINLAGGAN
Fantastic
Finntrader
Florencia
GALAXY
GALAXY
GEMINI
GOLDEN BRIDGE
GOTLANDIA II
Gabriella
Girolata
Gotland
Grande Anversa
HAMBURG
HAMLET
HAMMERSHUS
HANSEATIC INSPIRATION
HANSEATIC NATURE
HSC Benchijigua Express
HSC Condor Liberation
HSC Condor Rapide
HSC Condor Vitesse
HSC Dublin Swift
HSC Fjord Cat
HSC Highspeed 4
HSC Jonathan Swift
HSC Leonora Christina
HSC Manannan
HSC Volcan de Teno
Hellenic Spirit
Honfleur
Huckleberry Finn (ship, 1988)
INSIGNIA
Jean Nicoli
KEFALONIA
KOPERNIK
KORCULA
Kalliste
Kerry
Kong Harald
Kriti I
L AUSTRAL
LE BOREAL
LE CHAMPLAIN
LE LAPEROUSE
LE LYRIAL
LE SOLEAL
LOBO MARINHO
LOCH SEAFORTH
Laurana
Le Bougainville
Levante
M/S Ahtela
M/S Aurora
M/S Aurora
M/S Berlin
M/S Birka Express
M/S Deutschland
M/S Ekaterini P
M/S Europalink
M/S Finnfellow
M/S Finnlady
M/S Finnpartner
M/S Finnstar
M/S Finnswan
M/S Galileusz
M/S Gute
M/S Ionian Spirit
M/S Merchant
M/S Prins Richard
M/S Prinsesse Benedikte
M/S Robin Hood
M/S Sea Wind
M/S Tom Sawyer
M/S Visby
MAX
MAZOVIA
MED STAR
MESSINA
MF Dubrovnik
MF Gryf
MF Polonia
MF Prevelis
MF Skania
MF Tycho Brahe
MOROCCO SUN
MS Al Andalus Express
MS Almariya
MS Amorella
MS Arrow
MS Bari
MS Ben-my-Chree
MS Color Fantasy
MS Color Viking
MS Crown Seaways
MS Cruise Ausonia
MS Cruise Barcelona
MS Cruise Olbia
MS Côte des Dunes
MS Côte des Flandres
MS Daniya
MS Delft Seaways
MS Dieppe Seaways
MS Dover Seaways
MS Dunkerque Seaways
MS Europa 2
MS Finlandia
MS Finnmarken (2002)
MS Fram
MS GNV Atlas
MS GNV Azzurra
MS GNV Cristal
MS Isabelle
MS Isle of Inishmore
MS King Seaways
MS Koningsdam
MS Kronprins Frederik
MS La Superba
MS La Suprema
MS Liverpool Seaways
MS Mariella
MS Megastar
MS Moby Otta
MS Moby Tommy
MS Nieuw Statendam
MS Nordkapp
MS Nuraghes
MS Oceana
MS Oslofjord
MS Pearl Seaways
MS Polarlys
MS Princess Seaways
MS Queen Elizabeth
MS Regal Star
MS Regina Baltica
MS Regina della Pace
MS Rigel II
MS Riviera
MS Rosella
MS SNAV Adriatico
MS Schleswig-Holstein
MS Sharden
MS Silja Europa
MS Silja Symphony
MS Skåne
MS Star
MS Stavangerfjord
MS Stena Adventurer
MS Stena Baltica
MS Stena Danica
MS Stena Europe
MS Stena Germanica
MS Stena Horizon
MS Stena Jutlandica
MS Stena Lagan
MS Stena Mersey
MS Stena Nordica
MS Stena Saga
MS Stena Scandinavica
MS Stena Spirit
MS Stena Superfast VII
MS Stena Superfast VIII
MS Stena Vision
MS Superfast XI
MS Symphony of the Seas
MS Trollfjord
MS Ulysses
MS Vesterålen
MS Victoria I
MS Viking Cinderella
MS Viking Grace
MS Viking XPRS
MS Wawel
MS Wind Perfection
MS Wisteria
MS Wolin
MSC GRANDIOSA
MV Ark Futura
MV Clansman
MV European Causeway
MV Festos Palace
MV Hamnavoe
MV Hebrides
MV Hjaltland
MV Hrossey
MV Isle of Lewis
MV Knossos Palace
MV Scottish Viking
MV Seabourn Ovation
MV Seabourn Quest
MV Sorolla
MV St Clare
MV Stena Britannica
MV Viking Sky
MV Viking Sun
MV Étretat
Majestic
Marina
Marko Polo
Mecklenburg-Vorpommern
Mega Andrea
Mega Express
Mega Express Five
Mega Express Four
Mega Express Three
Mega Express Two
Mega Smeralda
Midnatsol
Moby Aki
Moby Baby Two
Moby Corse
Moby Dada
Moby Drea
Moby Kiss
Moby Niki
Moby Vincent
Moby Wonder
Mont St Michel
Monte d'Oro
Mykonos Palace
Méditerranée
NAUTICA
NORRONA
NORWEGIAN BLISS
NORWEGIAN BREAKAWAY
NORWEGIAN ENCORE
NORWEGIAN EPIC
NORWEGIAN GETAWAY
NORWEGIAN JADE
NORWEGIAN PEARL
NORWEGIAN SPIRIT
NORWEGIAN STAR
Nils Holgersson
Nissos Chios
Nissos Mykonos
Nissos Rodos
Nissos Samos
Nordlys
Nordnorge
Normandie
Normandie Express
Norway Explorer
OASIS OF THE SEAS
OCEAN DIAMOND
OOSTERDAM
ORIANA
Olympic Champion
Optima Seaways
POVL ANKER
Paglia Orba
Pascal Lota
Pascal Paoli
Patria Seaways
Petar Hektorović
Peter Pan
Piana
Pont-Aven
Prins Joachim
RED STAR 1
ROALD AMUNDSEN
ROMANTIKA
ROYAL PRINCESS
Regina Seaways
Rhapsody
Richard With
Rosalind Franklin
SAINT JOHN PAUL II
SAPPHIRE PRINCESS
SEA PRINCESS
SEVEN SEAS EXPLORER
SILVER CLOUD
SILVER EXPLORER
SILVER MUSE
SILVER SHADOW
SILVER SPIRIT
SILVER WHISPER
SILVER WIND
SPECTRUM OF THE SEAS
SPL Princess Anastasia
STENA FLAVIA
STENA HOLLANDICA
SUPERFERRY
Sardinia Regina
Sardinia Vera
Sassnitz
Scilla
Sea Cargo Express
Seabourn Encore
Seabourn Odyssey
Silja Serenade
Splendid
Stena Gothica
Stena Nautica
Stena Vinga
Superspeed 1
Superspeed 2
TANIT
TARIQ IBN ZIYAD
THE WORLD
THEOLOGOS P.
Tassili II
Tenacia
Tera Jet
Urd
VASCO DA GAMA
VENTURA
VICTORIA OF WIGHT
VICTORIA SEAWAYS
VILLA DE TEROR (MAR-19)
Venezia
Viking Sea
Viking Star
Villa
Vizzavona
Volcan De Tamasite
Volcán de Taburiente
W. B. YEATS
WASA EXPRESS
Wind Ambition
Zadar