In [3]:
import numpy as np
import pandas as pd
import requests

# https://ourairports.com/data/
df = pd.read_csv('../files_original/original.our_airports.csv')

In [4]:
res = requests.get("https://admin.greenferries.org/data_dump")

In [5]:
cities = {r['cityA']['id']: r['cityA'] for r in res.json()['routes']}
countries = set([c['country'] for c in cities.values()])

In [6]:
df = df[df['iso_country'].isin(countries)]
df = df[df['iata_code'].notnull()]
df = df[df['type'].isin(['medium_airport', 'large_airport'])]

In [8]:
df_json =  df[['iso_country', 'iata_code', 'name', 'latitude_deg', 'longitude_deg']]
df_json.columns = ['country', 'code', 'name', 'latitude', 'longitude']
# df_json = df_json.set_index('code', drop=False)
df_json = df_json.drop_duplicates(subset="code")
df_json = df_json.sort_values(by=["country", "name"])

df_json.to_json('../files_computed/airports.json', orient='records')

In [10]:
pd.read_json('../files_computed/airports.json')

,country,code,name,latitude,longitude
0,AL,TIA,Tirana International Airport Mother Teresa,41.414700,19.720600
1,DE,AOC,Altenburg-Nobitz Airport,50.981945,12.506389
2,DE,AGB,Augsburg Airport,48.425278,10.931667
3,DE,BYU,Bayreuth Airport,49.985001,11.640000
4,DE,SXF,Berlin-Schönefeld Airport,52.380001,13.522500
...,...,...,...,...,...
782,TN,MIR,Monastir Habib Bourguiba International Airport,35.758099,10.754700
783,TN,SFA,Sfax Thyna International Airport,34.717999,10.691000
784,TN,TBJ,Tabarka 7 Novembre Airport,36.980000,8.876940
785,TN,TOE,Tozeur Nefta International Airport,33.939701,8.110560
786,TN,TUN,Tunis Carthage International Airport,36.851002,10.227200

In [11]:
df_json.to_csv('../files_computed/airports.csv')